---
import Contact from "../components/contact.astro";
import Header from "../components/header.astro";
import Ourgallery from './ourgallery.jsx'
import Services from "../components/services.astro";


---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.png" />
		<link rel="stylesheet" href="./src/style.css">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Professional Plumbers</title>
	</head>
	<body>
		<Header></Header>
		<Services></Services>
		<Ourgallery client:load></Ourgallery>
		<Contact></Contact>
	</body>
</html>


<style>
	@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

	*{
		font-family: "Source Sans 3", sans-serif;
		scroll-behavior: smooth;
		user-select: none;
	}
	
</style>
