---
import Contact from "./contact.astro";
import Header from "./header.astro";
import Ourgallery from "./ourgallery.astro";
import Services from "./services.astro";


---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Header></Header>
		<Services></Services>
		<Ourgallery></Ourgallery>
		<Contact></Contact>
	</body>
</html>


<style>
	@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

	*{
		font-family: "Source Sans 3", sans-serif;
		scroll-behavior: smooth;
	}
	
</style>
