<article class="flex flex-row justify-between px-2 sm:px-12 pt-8 overflow-hidden items-stretch drop-shadow-xl gap-x-3" id="services">
    <section class="flex flex-col justify-center w-1/2 max-lg:w-full gap-y-5">
        <div class="flex flex-col justify-start">
            <h3 class="text-4xl max-md:text-center">NUESTROS <span class="text-orange-500">SERVICIOS</span></h3>
            <h4 class="text-blue-600 font-semibold max-md:text-center">Ofrecemos gran diversidad de servicios.</h4>
            <span class="flex h-px w-2/3 bg-orange-500 max-md:mx-auto"></span>
        </div>
        <div class="pt-2 pl-3">
            <h6 class="font-semibold text-lg ">Instalación y reparación de grifería y accesorios</h6>
            <p class="max-sm:pb-3 xl:text-base xl:pb-2">Colocamos y mantenemos <span class="text-orange-500 font-semibold">griferías, duchas, válvulas, bombas</span> y otros accesorios, garantizando su funcionamiento óptimo.</p>
            <h6 class="font-semibold text-lg ">Localización y reparación de fugas</h6>
            <p class="max-sm:pb-3 xl:text-base xl:pb-2">Detectamos y solucionamos <span class="text-orange-500 font-semibold">fugas de agua o gas</span> rápidamente, previniendo daños y desperdicios.</p>
            <h6 class="font-semibold text-lg ">Sistemas de filtración de agua</h6>
            <p class="max-sm:pb-3 xl:text-base xl:pb-2">Instalamos <span class="text-orange-500 font-semibold">sistemas de filtración de agua</span>, mejorando su calidad y seguridad para tu <span class="text-orange-500 font-semibold">hogar o negocio</span>.</p>
            <h6 class="font-semibold text-lg ">Instalación y reparación de calefacción</h6>
            <p class="max-sm:pb-3 xl:text-base xl:pb-2">Instalamos y mantenemos sistemas de <span class="text-orange-500 font-semibold">calefacción central, radiadores, calderas y agua caliente</span>, asegurando tu confort.</p>
            <h6 class="font-semibold text-lg ">Mantenimiento de bombas de agua</h6>
            <p class="max-sm:pb-3 xl:text-base xl:pb-2">Realizamos <span class="text-orange-500 font-semibold">mantenimiento preventivo y reparaciones en bombas de agua</span>, asegurando su eficiencia y durabilidad.</p>
        </div>
        <div class="max-xs:w-4/5 px-2 bg-stone-800 rounded-xl flex flex-col items-center py-4 max-lg:mx-auto border-b-4 border-r-4 border-b-blue-700 border-r-blue-700">
            <span class="text-white font-semibold text-center">Agradecemos su consulta contactandose al numero</span>
            <span class="text-orange-600 font-semibold text-center">+54 223 5645444</span>
        </div>
    </section>
    <section class="w-1/2 my-auto flex flex-row justify-end items-stretch max-lg:hidden rounded-xl overflow-hidden">
        <img class="w-1/2 object-cover" src="/calentador.jpeg" alt="Calentador solar" srcset="">
        <img class="w-1/2 object-cover" src="/bano.jpeg" alt="Baño" srcset="">
    </section>
</article>
